.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 5rem;
  z-index: 999;
  border-bottom: 1px solid black;
  div {
    font-size: 2rem;
    font-weight: 700;
  }
}
